<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Web Portafolio</title>
  {% load static %}
  <!-- Bootstrap Core CSS -->
  <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{% static 'core/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{% static 'core/vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static 'core/css/stylish-portfolio.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">Inicio</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Inicio</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">Acerca de</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Servicios</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolio">Portafolio</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contactos</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Desarrolladores Online</h1>
      <h3 class="mb-5">
        <em>Un equipo comprometido con su trabajo</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Más acerce de nosotros</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>Acerca De</h2>
          <p class="lead mb-5">Somos una empresa que nacio hace 5 años en Bolivia con el fin de desarrollar  
            <a href="#">software de calidad</a>!</p>
          <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">Ve nuestras ofertas</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Servicios</h3>
        <h2 class="mb-5">Lo que ofrecemos</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-screen-smartphone"></i>
          </span>
          <h4>
            <strong>Diseño Responsivo</strong>
          </h4>
          <p class="text-faded mb-0">Hermosas Vistas para cualquier Resolución!</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
          <h4>
            <strong>Rediseño</strong>
          </h4>
          <p class="text-faded mb-0">Si ya cuentas con un sistema nosotros te lo mejoramos.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
          <h4>
            <strong>Favoritos</strong>
          </h4>
          <p class="text-faded mb-0">Millones de Usuarios 
            <i class="fas fa-heart"></i>
            Confian en nosotros!</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-mustache"></i>
          </span>
          <h4>
            <strong>Preguntas</strong>
          </h4>
          <p class="text-faded mb-0">Eres Libre de hacernos cualquier pregunta</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio -->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">Portafolio</h3>
        <h2 class="mb-5">Proyectos Recientes</h2>
      </div>
      <div class="row no-gutters">
      {% block content %}
      {% for project in projects %} 
        <div class="col-lg-6">
        {% if project.link %}
          <a class="portfolio-item" href="{{project.link}}">
        {% else %}
          <a class="portfolio-item" href="#">
        {% endif %}
            <span class="caption">
              <span class="caption-content">
                <h2>{{project.title}}</h2>
                <p class="mb-0">{{project.description}}</p>
              </span>
            </span>
            <img class="img-fluid" src="{{project.image.url}}" alt="">
          </a>
        </div>
        {% endfor %}
        {%endblock%}
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="content-section bg-primary text-white">
    <div class="container text-center">
      <h2 class="mb-4">Solicitar un Demo Gratuito...</h2>
      <a href="#" class="btn btn-xl btn-light mr-4">Ver Demo!</a>
      <a href="#" class="btn btn-xl btn-dark">Conseguir sorftware!</a>
    </div>
  </section>

  <!-- Map -->
  <section id="contact" class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7650.842565552148!2d-68.12621040844503!3d-16.504815957356765!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x53f6df346cc69976!2sUniversidad+Mayor+de+San+Andres!5e0!3m2!1ses!2sbo!4v1549391987557" width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    <br />
    <small>
      <a href="https://goo.gl/maps/8WLrCDA21Vn"></a>
    </small>
  </section>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; www.desarrolladoresonline.com 2019</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'core/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'core/js/stylish-portfolio.min.js' %}"></script>

</body>

</html>
